[submodule "web-peladaapp"]
	path = web-peladaapp
	url = git@github.com:marlonchalegre/web-peladaapp.git
[submodule "api-peladaapp"]
	path = api-peladaapp
	url = git@github.com:marlonchalegre/api-peladaapp.git
